* {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
}

.form,
.books-conteiner {
  width: 450px;
  margin: 0 auto;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.form-control label {
  margin-bottom: 0.3rem;
  font-weight: bold;
}

.form-control input {
  padding: 5px;
}

/* Books */

.books-conteiner div {
  border-bottom: 1px solid #ccc;
  padding: 5px;
  margin: 5px;
}

.bold {
  font-weight: bold;
}
