<h1>Editando a Task: {{task.title}}</h1>
<form action="/tasks/add" method="post">
<input type="hidden" name="id" value="{{task.id}}">
    <div class="form-control">
        <label for="title">Título</label>
        <input type="text" name="title" placeholder="Oque você vai fazer?" value="{{task.title}}">
    </div>
        <div class="form-control">
        <label for="description">Descrição</label>
        <textarea name="description" placeholder="Descreva a tarefa...">{{task.description}}</textarea>
    </div>
    <input type="submit" value="Editar">
</form>