<h1>Todas as tasks</h1>
<ul class="task-list">
    {{#each tasks}}
        <li>
            <a href="/" class="title">{{this.title}}</a>
            <div class="actions">
                <a href="/"><i class="bi bi-check2"></i></a>
                <a href="/"><i class="bi bi-pencil-square"></i></a>
                <form action="/tasks/remove" method="POST">
                <input type="hidden" name="id" value="{{this.id}}">
                    <button type="submit">
                        <a href="/"><i class="bi bi-x-lg"></i></a>
                    </button>
                </form>
            </div>
        </li>
    {{/each}}
</ul>