<h1>Edite seu livro:</h1>
<form action="" method="post" class="form">
  <div class="form-control">
    <label for="title">Título:</label>
    <input
      type="text"
      name="title"
      placeholder="Digite o Título"
      value="{{book.title}}"
    />
  </div>
  <div class="form-control">
    <label for="page">Número de páginas:</label>
    <input
      type="number"
      name="page"
      placeholder="Quantas páginas o livre tem?"
      value="{{book.page}}"
    />
  </div>
  <div class="form-control">
    <input type="submit" value="Editar" />
  </div>
</form>