<h1>Livro disponíveis:</h1>
<div class="books-conteiner">
  {{#each books}}
    <div class="book">
      #{{this.id}}
      -
      <span class="bold"><a href="/books/{{this.id}}">{{this.title}}</a></span>
      -
      {{this.page}}
      páginas
    </div>
  {{/each}}
</div>